name: CI
on: 
  push:
    paths:
      - 'Jobgroups/**.yaml'
  pull_request:
    paths:
      - 'Jobgroups/**.yaml'
jobs:
  static-check:
    runs-on: ubuntu-latest 
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check if APIKEY and APISECRET are set
        run: |
          [[ -z "${{ secrets.APIKEY }}" ]] && echo "No APIKEY set"
          [[ -z "${{ secrets.APISECRET }}" ]] && echo "No APISECRET set"
      - name: Get Job group changed files
        id: changed-files
        run: |
          CHANGED_FILES=$(git diff --exit-code --diff-filter="*ACDMRTUX" --name-only origin/master | grep Jobgroups | awk -v d=" " '{s=(NR==1?s:s d)$0}END{print s}')
          echo $CHANGED_FILES
          echo "::set-output name=files::${CHANGED_FILES}"
      - name: Run yamllint for modified Job group schedules
        run: |
          for file in ${{ steps.changed-files.outputs.files }}; do
            yamllint $file
          done
      - name: Clone os-autoinst-distri-opensuse repository
        uses: actions/checkout@v2
        with:
          repository: os-autoinst/os-autoinst-distri-opensuse 
          ref: refs/heads/master
          path: os-autoinst-distri-opensuse
          clean: false
          fetch-depth: 1
      - name: Check if YAML_SCHEDULE and YAML_TEST_DATA exist in os-autoinst-distri-opensuse
        run: |
          for file in ${{ steps.changed-files.outputs.files }}; do
            scripts/verify_file_existence $(grep -oP '(YAML_SCHEDULE|YAML_TEST_DATA):\s\K.*' $file | sort -u | awk "{print \"os-autoinst-distri-opensuse/\" \$0}") 
          done
      - name: Check secret
        run: |
          if [[ -z "${{ secrets.SOMESECRET }}" ]]
          then
          echo "Empty"
          fi

