name: Deploy
on:
  push:
    branches:
      - master
    paths:
      - 'Jobgroups/**.yaml'
jobs:
  publish:
    runs-on: ubuntu-latest
      container:
        image: docker://registry.opensuse.org/home/syrianidou_sofia/containers/tumbleweed:o3-jobgroups
      steps:
      - name: Git Checkout
        uses: actions/checkout@v1 # using v1 for Tumbleweed container due to bug#1190670
        with:
          fetch-depth: 0
      - name: Get Job group changed files
        id: changed-files
        run: |
          CHANGED_FILES=$(git diff --exit-code --diff-filter="*ACDMRTUX" --name-only origin/master | grep Jobgroups | awk -v d=" " '{s=(NR==1?s:s d)$0}END{print s}')
          echo $CHANGED_FILES
          echo "::set-output name=files::${CHANGED_FILES}"
      - name: Upload changed Job group schedules to O3
        run: |
          for file in ${{ steps.changed-files.outputs.files }}; do
            GROUPID=$(./scripts/define_group_id $file)
            echo "Post ${file} to O3 job group ${GROUPID}"
            # POST command commented out, not to interfere with current Job group schedules until repo is approved.
            # openqa-cli api -X POST --o3 --apikey "${{ secrets.APIKEY }}" --apisecret "${{ secrets.APISECRET }}" job_templates_scheduling/$GROUPID schema=JobTemplates-01.yaml --param-file template=$file
          done
